/*
* 
* @author Caick Marques / Jean Cunha
* @version 0.2
*/

/* ============== layout ============== */
html, body, .capa {
	height: 100%;
}

body {
	background: url('img/capa.png'),
	url('img/ruido.png'),
	linear-gradient(50deg,#D9E3C8,#D9E3C8);
	background-attachment: fixed;
	font-family: Helvetica,Arial,sans-serif;
	background-size: cover;
}
/*========== Navbar ==========*/
.navbar{
	margin-top: 30px;
}

/*========== Logo ==========*/
.logo{
	width: 100px;
	position: absolute;
	margin-top: -15px;
}

/*==========Barra redes sociais==========*/
.barra-redes-sociais{
	background-color: #fff;
	position: fixed;
	padding-right: 10%;
}
.img-redes-sociais{
	width: 30px;
	margin-left: 15px;
	float: right;
}
.img-redes-sociais:hover{
	width: 32px;
}


/*========== Responsividade ==========*/
@media (min-width: 320px) and (max-width: 768px) {
  .logo{
  	width: 110px;
  	position: fixed;
  	left: 40%;
  } 


}