/*
* 
* @author Caick Marques / Jean Cunha
* @version 0.2
*/

/* ============== layout ============== */
html, body, .capa {
	height: 100%;
}

body {
	background: url('img/capa.png'),
	url('img/ruido.png'),
	linear-gradient(50deg,#D9E3C8,#D9E3C8);
	background-attachment: fixed;
	font-family: Helvetica,Arial,sans-serif;
	background-size: cover;
}
/*========== Navbar ==========*/
.navbar{
	margin-top: 30px;
}

/*========== Logo ==========*/
.logo{
	width: 140px;
	position: absolute;
	margin-top: -40px;
}

/*==========Barra redes sociais==========*/
.barra-redes-sociais{
	background-color: #fff;
	position: absolute;
	padding-right: 10%;
}
.img-redes-sociais{
	width: 30px;
	margin-left: 15px;
	float: right;
}
.img-redes-sociais:hover{
	width: 32px;
}

/*=========Barra marro/ Logomarca=========*/
.barra-logomarca{
	background-color: #7E3200;
	position: fixed;
	margin-left: 300px;
	margin-top: 85px;
	border-radius: 0px 0px 170px 170px;
	width: 291px;
	height: 70px;
	padding: 5px 75px;
}
.logomarca{
	width: 140px;
}

/*===========Painel branco===============*/
.painel{
	padding-top: 180px;
	background-color: #fff;
}

/*===========Carrossel===================*/
.img-carrossel{
	width: 100px;
	height: 400px;
}


/*========== MEDIA QUERIES ==========*/
@media (min-width: 320px) and (max-width: 768px) {

/*========== Logo ==========*/
  .logo{
  	width: 110px;
  	position: fixed;
  	left: 40%;
  }
/*=========Barra marro/ Logomarca=========*/  
  .barra-logomarca{
	filter: opacity(0);
}

.painel{
	padding-top: 140px;
}


}