/*
* 
* @author Caick Marques / Jean Cunha
* @version 0.2
*/

/* ============== layout ============== */
html, body, .capa {
	height: 100%;
	height: 100%;
}

body {
	background: url('img/capa.png'),
	url('img/ruido.png'),
	linear-gradient(50deg,#D9E3C8,#D9E3C8);
	background-attachment: fixed;
	font-family: Helvetica,Arial,sans-serif;
	background-size: cover;
}

/*==============Icone Whatsapp===========*/
.whatsapp {
	width: 80px;
    position: fixed;
    top: 82%;
    left: 85%;
    padding: 10px;
    z-index: 10000000;
}

/*========== Navbar ==========*/
.navbar{
	margin-top: 30px;
}

/*========== Logo ==========*/
.logo{
	width: 140px;
	position: absolute;
	margin-top: -40px;
}

/*==========Barra redes sociais==========*/
.barra-redes-sociais{
	background-color: #fff;
	position: absolute;
	padding-right: 10%;
}
.img-redes-sociais{
	width: 30px;
	margin-left: 15px;
	float: right;
}
.img-redes-sociais:hover{
	width: 32px;
}

/*=========Barra marro/ Logomarca=========*/
.barra-logomarca{
	background-color: #7E3200;
	position: fixed;
	margin-left: 300px;
	z-index: 100000;
	margin-top: 85px;
	border-radius: 0px 0px 170px 170px;
	width: 291px;
	height: 50px;
	padding: 0px 75px;
}
.logomarca{
	width: 140px;
	margin-top: -5px;
}

/*===========Painel branco===============*/
.painel{
	padding-top: 170px;
	background-color: #fff;
	width: 860px;
}

/*===========Carrossel===================*/
.img-carrossel{
	height: 400px;
	
}
.carousel-inner{
	border: 6px solid #7E3200;
	border-radius: 15px;
}


/*========== FIQUE LIGADO ==================*/
.fique-ligado{
	text-align: center;
	font-weight: bold;
	margin-bottom: 40px;
	margin-top: 30px;
}
.titulo-1{
	text-align: center;
	font-weight: bold;
}

/*============= TRABALHOS ====================*/
.img-trabalhos{
	height: 370px;
	border: 6px solid #7E3200;
	border-radius: 15px;
}


/*=============== FORMULÁRIO====================*/
.btn-primary{
	background-color: #DA0D45;
	border: none;
	border-radius: 20px;
	width: 118px;
}
.btn-primary:hover{
	background-color: #DA0D45;
}


/*=================MAPA===========================*/
.mapa{
	width: 800px;
}


/*=============== BARRRA INFERIOR =================*/
footer{
	background-color: #DA0D45;
	padding: 30px 0px 20px 0px;
}

.titulo-rodape{
	color: rgba(255,255,255,.5);
}

footer .navbar-nav a{
	color: #fff;
	text-decoration: none;
}

.img-rodape{
	padding-left: 20px;
	padding-top: 20px;
}
.img-rodape img{
	margin-right: 30px;
}

/*========== MEDIA QUERIES ==========*/
/*========== MEDIA QUERIES ==========*/
/*========== MEDIA QUERIES ==========*/
/*========== MEDIA QUERIES ==========*/
/*========== MEDIA QUERIES ==========*/
@media (min-width: 320px) and (max-width: 768px) {

/*========== Logo ==========*/
  .logo{
  	width: 110px;
  	position: fixed;
  	left: 40%;
  }
/*=========Barra marro/ Logomarca=========*/  
  .barra-logomarca{
	filter: opacity(0);
}

.painel{
	padding-top: 140px;
	width: 450px;
}

.whatsapp{
	left: 85%;
}
/*=================MAPA===========================*/
.mapa{
	width: 400px;
}

}


@media only screen and (min-width: 1382px) { 
	.barra-logomarca{
	margin-left: 30%;
	
}

}






/*=========== Animação ==================*/
[data-anime] {
	opacity: 0;
	transition: 1s;
}

[data-anime="left"]{
	transform: translate3d(-50px, 0, 0);
}

[data-anime="right"]{
	transform: translate3d(50px, 0, 0);
}

[data-anime="bottom"]{
	transform: translate3d(0, 50px, 0);
}

[data-anime].animate {
	opacity: 1;
	transform: translate3d(0px, 0px, 0px);
}